@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
  background-color: darkcyan;
  font-family: 'Rubik', sans-serif;
}

.bg1 {
  background-image: url('./assets/images/pattern-bg.png');
  background-size: cover;
  background-position: center;
}

.leaflet-container {
  height: 844px;
  width: 390px;
}

.behind {
  z-index: -1;
}